/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.background-image {
  /* Replace with the path to your image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  height: 100vh; /* Make the container cover the entire viewport height */
  width: 100%; /* Make the container cover the entire viewport width */
  /* Add any additional styles or adjustments as needed */
}
